<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Editar calendario</title>
</head>
<body>
        <h2>Editar calendario</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Actualizar">
        </form>
    <a href="{% url 'myapp:calendario_list' %}">Cancelar</a>
</body>
</html>