<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Configuracion</title>
</head>
<body>
    <h1>Eliminar configuracion</h1>
    
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        {% if message.tags %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    <h2>Formulario de eliminacion</h2>
    <form method="post">{% csrf_token %}
        <h2>Elimminar Configuracion</h2>
        <p>¿Está seguro de eliminar "{{ object }}"?</p>
        {{ form.as_p }}
        <input type="submit" value="Confirmar">

        <a href="{% url 'myapp:configuracion_list' %}">Cancelar</a>
    </form>

    <h3>Menu</h3>
    <ul>
        <li><a href="{%url 'myapp:liga_list' %}">Liga</a></li>
        <li><a href="{%url 'myapp:equipo_list' %}">Team</a></li>
        <li><a href="{%url 'myapp:torneo_list' %}">Torneo</a></li>
        <li><a href="{%url 'myapp:calendario_list' %}">Calendario</a></li>
        <li><a href="{%url 'myapp:juego_list' %}">Juego</a></li>
        <li><a href="{%url 'myapp:configuracion_list' %}">Configuracion</a></li>
    </ul>
</body>
</html>