<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>Crear juego</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>
<body>
        <h2>Crear juego</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Crear">
        </form>

        <a href="{% url 'myapp:juego_list' %}">Cancelar</a>

    
</body>
</html>